body {
    background: url("/images/background.svg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.dot-grey {
    height: 20px;
    width: 20px;
    background-color: #8a8a8a;
    border-radius: 50%;
    border: 1px solid black;
}

.left {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

.down {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.up {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

.right {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.main-container {
    background-color: #121212;
    height: 100%;
}

* {
    font-family: "Bree Serif";
}

.canvasHeading {
    font-size: 30px;
    padding: 5px;
}

.colorsButton {
    display: inline-block;
    border: 1px solid #404040;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 1px;
}

.colorPalette {
    border: 1px solid black;
}

.whiteFont {
    color: white;
}

.site-header {
    background-color: #080808;
}

.how-to-play {
    background-color: #303030 !important;
    color: #ffffff;
}

.game-header {
    position: relative;
}

.message-overlay {
    width: 300px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
}
