<div class="sticky-top">
    <nav
        class="navbar navbar-expand-lg site-header navbar-dark justify-content-between header"
    >
        <div class="container">
            <a class="navbar-brand" href="/">
                <image
                    src="/images/site_icon.svg"
                    width="64"
                    height="64"
                ></image>
                matthe.dev
            </a>

            <button
                class="navbar-toggler collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#mattheNavBar"
                aria-controls="mattheNavBar"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="mattheNavBar" class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown p-1">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarDropdown"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            >Games</a
                        >
                        <div
                            class="dropdown-menu"
                            aria-labelledby="navbarDropdown"
                        >
                            <a class="dropdown-item" href="/simplex"
                                >Simplex Sketcher</a
                            >
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
