<body class="backgroundImage">
<div class="container main-container">
    <div class="d-flex justify-content-center p-3">
        <h1 class="whiteFont">
            Orbiting Pictionary
        </h1>
    </div>

    <div id="lobbyCreator">
        <div class="d-flex justify-content-center p-5">
            <form id="nameForm">
                <div class="form-group row">
                    <div class="">
                        <input
                            type="text"
                            id="nameInput"
                            class="form-control"
                            style="width: 200px"
                            autocomplete="off"
                            placeholder="Name"
                        />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="">
                        <button class="btn btn-light" id="joinButton" style="width: 200px">
                            &nbsp
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="d-none" id="lobby">
        <div class="container p-5 d-flex flex-column">
            <h1 class="whiteFont">Lobby</h1>
            <div class="d-flex flex-row">
                <input type="text" class="mr-3 form-control" id="lobbyIdInput" readonly style="width: 340px"></input>
                <button class="btn btn-light" id="copyLobbyId">
                    Copy
                </button>
            </div>
            <div id="players" class="d-flex flex-column"></div>
            <button class="btn btn-light col-sm-2 d-none" id="startButton">Start</button>
        </div>
    </div>

    <div class="d-none p-3" id="playerOrder">
    </div>

    <div id="waiting" class="d-none p-3">
        <div class="container d-flex justify-content-center whiteFont p-1">
            Waiting for others...
            <i class="fas fa-atom fa-spin p-1 whiteFont"></i>
        </div>
    </div>
    
    <div class="d-none" id="submitWord">
        <div class="d-flex justify-content-center p-3">
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-center canvasHeading p-3 whiteFont">Submit Word</div>
                <form id="submitWordForm">
                    <div class="form-group row">
                        <input class="form-control" type="text" id="submitWordInput" style="width: 300px" autocomplete="off"></input>
                    </div>
                    <div class="form-group row">
                        <button class="btn btn-light" id="submitWordButton" style="width: 300px">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="d-none p-3" id="drawCanvasDiv">
        <div class="d-flex justify-content-center canvasHeading p-1 whiteFont">Draw</div>
        <div class="d-flex justify-content-center whiteFont" id="guessWord"></div>
        <div class="container">
            <div class="d-flex justify-content-center">
                <canvas
                    id="paint-canvas"
                    style="border: 2px solid black"
                    width="800"
                    height="600"
                ></canvas>
            </div>

            <div class="d-flex flex-row justify-content-center m-3">
                <input type="color" id="colorPicker" value="#000000" style="width: 60px; height: 90px">
                <div class="p-1" style="width: 200px">
                    <div id="colors" class="d-flex flex-column pl-3"></div>
                </div>
                <div class="p-1">
                    <button class="btn btn-light m-1" id="fillButton" type="button">
                        <i class="fas fa-fill-drip"></i>
                    </button>
                </div>
                <div class="p-1">
                    <div id="brushes" class="d-flex flex-row"></div>
                    <input type="range" class="form-range" min="1" max="50" step="1" id="brushRange" style="width: 100%">
                </div>
                <div id="drawButtons" class="d-flex flex-row">
                    <div class="d-flex flex-column">
                        <button class="btn btn-light m-1" id="undoButton" type="button">
                            <i class="fas fa-undo"></i>
                        </button>
                        <button class="btn btn-light m-1" id="redoButton" type="button">
                            <i class="fas fa-redo"></i>
                        </button>
                    </div>
                    <div class="d-flex flex-column">
                        <button class="btn btn-light m-1" id="eraser" type="button">
                            <i class="fas fa-eraser"></i>
                        </button>
                        <button class="btn btn-light m-1" id="clear" type="button">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                    <button class="btn btn-light mt-1 mb-2" id="submitDraw" type="button">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="d-none p-3" id="guessCanvasDiv">
        <div class="d-flex justify-content-center canvasHeading p-3 whiteFont">Guess</div>
        <div class="d-flex justify-content-center" id="guessCanvasDiv">
            <canvas
                id="guess-canvas"
                style="border: 2px solid black"
                width="800"
                height="600"
            ></canvas>
        </div>
        <div class="d-flex justify-content-center">
            <input class="form-control col-md-3 m-2" type="text" id="guessInput" placeholder="Guess"/>
            <button class="btn btn-light col-md-1 m-2" id="submitGuess" type="button">Submit</button>
        </div>

    </div>
    
    <div class="d-none p-3" id="resultDiv">
        <div class="d-flex justify-content-center canvasHeading p-3 whiteFont">Results</div>
        <div id="results"></div>
    </div>

    <div class="d-none p-3" id="resultDivNew">
        <h1 class="d-flex justify-content-center p-3 whiteFont">Results</h1>
        <div id="resultCopyDiv">
            <div id="results">
                <div id="resultPlayerButtons" class="d-flex flex-row justify-content-center p-1" style="background-color: #080808;">
                </div>
                <div class="d-none d-flex flex-column" style="background-color: #181818;">
                    <div class="d-flex flex-row justify-content-center p-3">
                        <h2 class="whiteFont"></h2>
                    </div>
                    <div class="d-flex flex-row justify-content-center">
                        <div class="d-flex flex-row justify-content-center p-3">
                            <div class="d-flex flex-column justify-content-center">
                                <h3 class="whiteFont">Player Name 0</h3>
                                <h4 class="whiteFont">Word 0</h4>
                            </div>
                        </div>
                        <div class="d-flex flex-column justify-content-center p-3">
                            <div class="d-flex flex-row justify-content-center">
                                <h3 class="whiteFont">Player Name 1</h3>
                            </div>
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Mainz_altstadt.jpg/250px-Mainz_altstadt.jpg" width="600" height="450">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/fillBucket.js"></script>
<script src="/javascripts/game.js"></script>
