.dot-grey {
    height: 20px;
    width: 20px;
    background-color: #8a8a8a;
    border-radius: 50%;
    border: 1px solid black;
}

.left {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

.down {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.up {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

.right {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.main-container {
    background-color: #b0b0b0;
    height: 1200px;
}

* {
    font-family: "Bree Serif";
}

.canvasHeading {
    font-size: 30px;
    padding: 5px;
}

.colorsButton {
    display: inline-block;
    border: 1px solid #00000026;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 2px;
}

.colorPalette {
    border: 1px solid black;
}
